body{
     margin: 0;
 }
#game{
    max-height: 1000px;
    max-width: 700px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#bg{
    max-height: 850px;
    max-width: 700px;
    height: 80vh;
    width: 100vw;
    background-image: url('../imgs/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
}

#base{
    max-height: 150px;
    max-width: 1500px;
    height: 25vh;
    width: 300vw;
    z-index: 1000;
    position: relative;
    background-image: url('../imgs/base.png');
    background-repeat: repeat-x;
    background-position: top;
    animation: move 2s linear infinite;
}

.pipe-top{
    position: absolute;
    width: 70px;
    background-repeat: repeat;
    background-size: cover;
    z-index: 100;
    background-image: url('../imgs/pipe.png');
    transform: rotate(180deg);

}

.pipe-bottom{
    position: absolute;
    width: 70px;

    background-repeat: repeat;
    background-size: cover;

    z-index: 100;
    background-image: url('../imgs/pipe.png');
}

.bird_jump{
    transform: rotate(-45deg);

}

#score{
    position: absolute;
    width: 100vw;
    text-align: center;
    z-index: 1000;
    font-size: 30px;
    color: white;
    font-family: 'Common Pixel', sans-serif;
}

.bird_fall{
    transform: rotate(35deg);
}



#bird{
    position: absolute;
    height: 34px;
    width: 48px;
    top: 200px;
    background-size: cover;
    left: 90px;
    animation: bird .5s ease-in-out infinite ;
}
.obs{
    left: 95%;
    background-repeat: no-repeat;
    background-size: cover;

}


@keyframes bird {
    0%   {background-image: url('../imgs/bird1.png');}
    25%  {background-image: url('../imgs/bird2.png');}
    50%  {background-image: url('../imgs/bird3.png');}
    75%  {background-image: url('../imgs/bird2.png');}
    100% {background-image: url('../imgs/bird1.png');}
}

@keyframes move {
    from{
        left: 0;
    }
    to{
        left: -50%;
    }
}